:root {
	--pink: #ecc9c7;
	--blue: #bcccdc;
	--green: #dff3ea;
	--tan: #e1dac9;
	--link-color: var(--pink);
	--welcome-color: var(--pink);
	--mission-color: var(--green);
	--colab-color: var(--blue);
	--about-color: var(--blue);
	--copyright-color:var(--blue)
}

@font-face {
	font-family: bayshore;
	src: url(fonts/bayshore.otf);
}

html {
	box-sizing: border-box;
	max-width: 1280px;
	margin: 0 auto !important; 
	float: none !important;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Raleway, sans-serif;
	margin: 0;
	font-size: 18px;
}

.menu-items ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: .2s ease;
	color: #000;
}

a:hover {
	color: var(--link-color);
}

h1 {
	margin: 0;
	font-family: bayshore;
	font-size: 5rem;
	font-weight: 100;
	text-align: center;
}

h2,
h3 {
	margin: 0 0 6px 0;
}

button {
	padding: 8px 32px;
	cursor: pointer;
	font-size: 20px;
	border: 2px solid #000;
	color: #000;
	background-color: #00000000;
	transition: all ease 0.2s;
	overflow: hidden;
	margin: 20px 0 0 0;
}

.navbar {
	width: 100%;
	height: 156px;
}

.menu-container ul li {
	margin-bottom: 18px;
	font-size: 36px;
	font-weight: 900;
}

.logo a img {
	height:144px;
}

.nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	background: #000;
}

.nav-container .checkbox {
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	top: 6px;
	right: 11px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.navbar .menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	background-color: #fff;
}

.menu-container .menu-items {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.25s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.25s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.25s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .menu-container {
	visibility: visible;
}

.nav-container input[type="checkbox"]:checked ~ .menu-container {
	opacity: 1;
	transition:  opacity .7s;
}

.welcome-container {
display: flex;
flex-direction: column;
margin: 0 0 24px 0;
}

.welcome-image-1 img,
.welcome-image-2 img {
	width: 100%;
}

.welcome-row-2 {
	display: flex;
}

@media only screen and (min-width: 768px) {
.welcome-image-2 {
	flex: 1;
	margin: -10% 0 0 2vw;
	background-image: url(img/print-hair.jpg);
	background-color: var(--welcome-color);
	display: inline-block;
	background-size: cover;
	background-position: center;
	border: 1.5vw solid white;
	box-shadow: 0vw 0vw 12px 5px var(--welcome-color);
}}

.welcome-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	margin: 12px 3vw 0 4.5vw;
}

.welcome-info-container button:hover {
	border: 2px solid var(--welcome-color);
}

.info-container {
	padding: 24px 8vw 36px 8vw;
}

@media only screen and (min-width: 768px) {
.info-container {
	padding: 24px 20vw 36px 20vw;
}}

.colab {
background-color: var(--colab-color);
background-image:url(img/maria-nila-bg.webp);
display: inline-block;
background-size: cover;
background-position: top;
}

.colab-info-container {
	background-color: #ffffffcc;
	padding: 3vw 5vw 5vw 5vw;
	margin: 10vw 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.colab-info-container button:hover {
	border-color: var(--colab-color);
}

.about {
	background-color: var(--about-color);
}

.recent-classes ul {
	flex: 1;
}

.footer .menu-items {
	display: flex;
	justify-content: center;
	padding: 12px 0;
}

.footer .menu-items ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 0.75em;
	background-color: var(--copyright-color);
}