html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Raleway, sans-serif;
	margin: 0;
	font-size: 18px
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: .2s ease;
	color: #000000;
}

a:hover {
	color: #ebc8c7;
}

.menu-items ul li {
	margin-bottom: 18px;
	font-size: 36px;
	font-weight: 900;
}

.logo a img{
	height:144px;
}