:root {
	--pink: #ecc9c7;
	--blue: #bcccdc;
	--green: #dff3ea;
	--tan: #e1dac9;
	--link-color: var(--pink);
	--welcome-color: var(--pink);
	--booking-color: var(--pink);
	--mission-color: var(--green);
	--care-color: var(--blue);
	--about-color: var(--blue);
	--copyright-color: var(--blue)
}

@font-face {
	font-family: bayshore;
	src: url(fonts/bayshore.otf);
}

html {
	box-sizing: border-box;
	margin: 0 auto !important; 
	float: none !important;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	font-size: 1.2rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: .2s ease;
	color: #000;
}

a:hover {
	color: var(--link-color);
}

h1 {
	margin: 0;
	font-family: bayshore;
	font-size: 5rem;
	font-weight: 100;
	text-align: center;
}

h2,
h3 {
	margin: 0 0 6px 0;
}

button {
	padding: 8px 32px;
	cursor: pointer;
	font-size: 1.25rem;
	border: 2px solid #000;
	color: #000;
	background-color: #00000000;
	transition: all ease 0.2s;
	overflow: hidden;
	margin: 20px 0 0 0;
}

.logo {
margin: 24px 24px;
}

.logo a img {
	height:100px;
}

.nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 42px;
	right: 42px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	background: #000;
}

.nav-container .checkbox {
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	top: 33px;
	right: 34px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.navbar .menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	background-color: #fff;
}

.menu-container .menu-items {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.menu-container ul li {
	text-transform: uppercase;
	margin-bottom: 3vh;
	font-size: 2rem;
	font-weight: 600;
}


.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.25s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.25s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.25s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .menu-container {
	visibility: visible;
}

.nav-container input[type="checkbox"]:checked ~ .menu-container {
	opacity: 1;
	transition:  opacity .7s;
}

/* Welcome */

.welcome-container {
display: flex;
flex-direction: column;
margin: 0 0 42px 0;
}

.welcome-image-1 img,
.welcome-image-2 img {
	width: 100%;
}

.welcome-row-2 {
	display: flex;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
.welcome-image-2 {
	flex: 1;
	margin: -10% 0 0 2vw;
	background-image: url(img/print-hair.jpg);
	background-color: var(--welcome-color);
	display: inline-block;
	background-size: cover;
	background-position: center;
	border: 1.5vw solid white;
	box-shadow: 0vw 0vw 12px 5px var(--welcome-color);
	max-width: 400px;
}}

.welcome-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	margin: 12px 6vw 0 6vw;
	max-width: 500px;
}

.welcome-info-container button:hover {
	border: 2px solid var(--welcome-color);
}

/* Booking */

.booking {
	background-color: var(--text-phone-color);
	background-image:url(img/karli-downtown.jpg);
	display: inline-block;
	background-size: cover;
	background-position: center;
}
	
.booking-info {
	background-color: #ffffffcc;
	padding: 18px 36px 24px 32px;
	margin: 3vw 0 20vw 3vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	width: fit-content;
}

.booking-info h2,
.booking-info p,
.booking-info button {
margin: 0 0 2px 0;
}
	
.booking-info button:hover {
	border-color: var(--booking-color);
}

/* Full-sized background template */

/* .full-template {
	background-color: var(--full-color);
	background-image:url(img/karli-downtown.jpg);
	display: inline-block;
	background-size: cover;
	background-position: top;
}
	
.full-info {
	background-color: #ffffffcc;
	padding: 3vw 5vw 5vw 5vw;
	margin: 10vw 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.full-info button:hover {
	border-color: var(--full-color);
} */

/* Feature Template */

.feature-template {
	display: flex;
	justify-content: center;
	flex-flow: row-reverse wrap-reverse;
	align-items: center;
	margin: 42px 6vw;
	gap: 24px;
}

.feature-image {
	flex: 1;
	width: 100px;
	/* margin: 24px 24px 24px 24px; */
	max-width: 400px;
	min-width: 300px;
}

.feature-image img{
	max-width:100%;
	padding: 1.5vw;
	border: 2px solid #000;
}

.feature-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: 24px 24px 24px 24px; */
	max-width: 500px;
	min-width: 300px;
}

.feature-info button:hover {
	border: 2px solid var(--template-color);
}

/* Hair Care */

.care {
	background-color: var(--care-color);
	background-image:url(img/maria-nila-bg.webp);
	display: inline-block;
	background-size: cover;
	background-position: top;
}

.care h1 {
	text-align: left;
}

.care-info-container {
	background-color: #ffffffcc;
	padding: 3vw 5vw 5vw 5vw;
	margin: 10vw 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.care-info-container button:hover {
	border-color: var(--care-color);
}

.about {
	background-color: var(--about-color);
}

.recent-classes ul {
	flex: 1;
}

/* Footer */
.footer-container {
	padding: 24px 8vw 36px 8vw;
}

@media only screen and (min-width: 768px) {
.footer-container {
	padding: 24px 20vw 36px 20vw;
}}

.footer > div > div {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.footer-address {
	font-size: 0.9rem;
}

.footer-phone {
	font-size: 0.9rem;
}

.social-links {
	font-size: 1.25rem;
	gap: 8px;
	padding: 4px 0;
}

.footer .menu-items ul {
    display: flex;
    justify-content: center;
    width: 100%;
	gap: 20px;
	font-size: 1rem;
}

.copyright {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	background-color: var(--copyright-color);
	font-size: 0.9rem;
}